<<<<<<< HEAD
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

.navigation-container {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid grey;

}

.left-side {
    display: flex;
}

.left-side img {
    width: 80px;
    margin-right: 10px;
}

.left-side p:nth-child(1) {
    font-size: 15px;
    padding-top: 3px;
}

.left-side p:nth-child(2) {
    font-size: 20px;
}

.right-side {
    margin-left: auto;
    display: flex;
    gap: 10px;
    padding-right: 35px;
}

.right-side button {
    padding: 2px 5px;
    border-radius: 8px;
    background-color: white;
}

.right-side input {
    padding: 8px;
    border-radius: 10px;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
=======
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    font-family: poppins;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center 0;
    height: 100vh;
}

.nav ul{
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    font-weight: bold;
    transition: all .5s ease;

}

.header{
    background: deepskyblue;
    overflow: hidden;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin:auto
}

.nav img{
    width: 120px;
    height: auto;
}

.nav ul li a:hover{
    color: rgb(20, 233, 77);
    background: #fff;
}

.vertdiv{
    height: 30px;
    width: 2px;
    background-color: #abb8c3;
    margin-inline: 60px;
}

#flag{
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.gov{
    display: flex;
>>>>>>> 2aa51ec3e6b40fda0e51224c6c4cda774c91b589
}
