*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

.navigation-container {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid grey;

}

.left-side {
    display: flex;
}

.left-side img {
    width: 80px;
    margin-right: 10px;
}

.left-side p:nth-child(1) {
    font-size: 15px;
    padding-top: 3px;
}

.left-side p:nth-child(2) {
    font-size: 20px;
}

.right-side {
    margin-left: auto;
    display: flex;
    gap: 10px;
    padding-right: 35px;
}

.right-side button {
    padding: 2px 5px;
    border-radius: 8px;
    background-color: white;
}

.right-side input {
    padding: 8px;
    border-radius: 10px;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
}
